@{
  Layout = "_Layout";
}
@using System.Security.Claims
@model IEnumerable<PierresTreat.Models.Treat>

<h1>Welcome to Pierre's Sweet & Savory Treats!</h1>

<hr />

<div>
  <p>@Html.ActionLink("View treats", "Index", "Treats")</p>
  <p>@Html.ActionLink("View flavors", "Index", "Flavors")</p>
  @if (User.Identity.IsAuthenticated)
  {
    @if (User.IsInRole("Baker") && User.IsInRole("Admin"))
    {
      <p>@Html.ActionLink("Admin Portal", "ListRoles", "Administration")</p>
    }
    <p>@Html.ActionLink("Log out", "Index", "Account")</p>
  }
  else
  {
    <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
  }
</div>
