@{
  Layout = "_Layout";
}

@model PierresTreat.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>Flavors:</h4>
<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@join.Flavor.Name
      @using (Html.BeginForm("DeleteFlavor", "Treats", FormMethod.Post, new { @class = "form-inline" }))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete" class="btn btn-dark" />
      }
    </li>
  }
</ul>
<hr />


<p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.Id })</p>

<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Edit treats", "Edit", new { id = Model.Id })</p>
<p>@Html.ActionLink("Delete treats", "Delete", new { id = Model.Id })</p>