@{
  Layout = "_Layout";
}

@using PierresTreat.Models
@model PierresTreat.Models.Flavor;

<h2>Flavor Details</h2>
<hr />
<h3>Name: @Model.Name</h3>
<h4>Ingredients: @Model.Ingredients</h4>
<hr />

@if (Model.JoinEntities.Count == 0)
{
  <h4>@Model.Name has no treats listed.</h4>
}
else
{
  <h4>@Model.Name has these treats listed...</h4>
  <ul>
    @foreach (FlavorTreat item in Model.JoinEntities)
    {
      <li>@item.Treat.Name
        @using (Html.BeginForm("DeleteFlavor", "Flavors", FormMethod.Post, new { @class = "form-inline" }))
        {
          @Html.Hidden("FlavorTreatId", item.FlavorTreatId)
          <input type="submit" value="Delete" class="btn btn-dark" />
        }
      </li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit flavors", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete flavors", "Delete", new { id = Model.FlavorId })</p>